.header-parent-container{
    display:flex;
    align-items: center;
    background-color: aqua;
    height: 50px;
    justify-content: space-between;
    padding: 8px 16px;
    color: white;
    .a{
        text-decoration: none;
    }
    .left{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .right{
        background-color: burlywood;
        height: 24px ;
        width: 24px ;
        border-radius: 50%;
    }
}
